<!-- Este é um arquivo HTML que define a estrutura de uma página web chamada "Cryptos". 
Ele inclui um cabeçalho com metadados, links para arquivos CSS, uma barra de navegação lateral e um corpo principal que exibe mensagens de alerta e gráficos de criptomoedas. 
A página é responsiva e utiliza classes do Bootstrap para estilização. O rodapé contém informações de direitos autorais. -->

<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cryptos</title>
  <!-- Incluindo o arquivo CSS externo -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  {{ bootstrap.load_css() }}
  {{ bootstrap.load_js() }}
  {% block head %}{% endblock %}
</head>

<body class="d-flex flex-column" style="overflow-x: hidden;">
    
  <div class="container-fluid" style="flex: 1;">
    <div class="row">
      <!-- Barra de navegação à esquerda -->
      <div class="col-3 bg-light p-0" style="overflow-y: auto;">
        {% include 'navibar.html' %}
      </div>

      <!-- Conteúdo principal -->
      <div class="col-9 mt-5">
        <div class="container">
          {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert {{ category|e }}">{{ message|e }}</div>
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>

        {% block body %}
        <div class="container">
          <div class="row">
            <div class="col card">
              <p>Dashboard</p>
              <img src="{{ url_for('main.grafico') }}" alt="Gráfico de Criptomoedas" class="img-fluid" />
            </div>
        </div>
        {% endblock %}
      </div>
    </div>
  </div>

  {% block scripts %}
  {{ bootstrap.load_js() }}
  {% endblock %}

  <footer class="bg-light text-center fs-6 py-3 mt-auto">
    <!-- Conteúdo do rodapé -->
    <p>&copy; 2023 Cryptos. Todos os direitos reservados.</p>
  </footer>
  
</body>
</html>

