<!-- Página para exibir o saldo geral dividido em dólares e reais. -->
<!-- Apresenta o saldo total e detalhado por carteira, tanto em USD quanto em BRL. -->

{% extends 'index.html' %} 
{% block body %}
<div class="container mt-4">
  <h1>Saldo Geral</h1>

  <!-- Saldos em Dólar -->
  <div class="row">
    <div class="row-md-4 mb-4">
      <hr />
      <h3 class="fw-bold">
        U$ {{ "%.2f" % (total_valor_dolar | float) }} <!-- Total geral em dólares -->
      </h3>
    </div>

    <div class="col-md-8 p-5">
      <table class="table">
        <thead>
          <tr>
            <th>Carteira</th>
            <th>Valor Total</th>
          </tr>
        </thead>
        <tbody>
          <!-- Iteração sobre as carteiras com saldo em dólares -->
          {% for wallet in carteiras_dolar %}
          <tr>
            <td>{{ wallet.carteira }}</td> <!-- Nome da carteira -->
            <td>{{ "%.2f" % (wallet.valor_total | float) }}</td> <!-- Valor total em dólares -->
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <!-- Saldos em Real -->
  <div class="row">
    <div class="row-md-4 mb-4">
      <hr />
      <h3 class="fw-bold">
        R$ {{ "%.2f" % (total_valor_real | float) }} <!-- Total geral em reais -->
      </h3>
    </div>

    <div class="col-md-8 p-5">
      <table class="table">
        <thead>
          <tr>
            <th>Carteira</th>
            <th>Valor Total</th>
          </tr>
        </thead>
        <tbody>
          <!-- Iteração sobre as carteiras com saldo em reais -->
          {% for wallet in carteiras_real %}
          <tr>
            <td>{{ wallet.carteira }}</td> <!-- Nome da carteira -->
            <td>{{ "%.2f" % (wallet.valor_total | float) }}</td> <!-- Valor total em reais -->
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
