{# Este arquivo é um template HTML que estende 'index.html' e exibe uma lista de criptomoedas cadastradas. #}
{% extends 'index.html' %}

{% block body %}

<div class="container">
  <caption>
    <div class="mt-4 mb-4 d-flex justify-content-between align-items-center">
      <h4>Moedas Cadastradas</h4>
      <!-- Botão de Filtro -->
      <a href="{{ url_for('crypto_wallet.add_crypto') }}" class="btn btn-secondary">Adicionar Moeda</a>
    </div>
  </caption>

  <table class="table small-font">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Apelido</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      {% for crypto in cryptos %}
      <tr>
        <td>{{ crypto.crypto_name }}</td>
        <td>{{ crypto.crypto_symbol }}</td>
        <td>
          <!-- Botão que abre o modal de confirmação -->
          <button 
            type="button" 
            class="btn btn-danger btn-sm" 
            data-bs-toggle="modal" 
            data-bs-target="#confirmDeleteModal" 
            data_id="{{ crypto.crypto_id }}">
            Excluir/Inativar
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include 'pagination.html' %}

</div>

<!-- Defina as variáveis antes de incluir o modal -->
{% set modal_form_action = url_for('crypto_wallet.delete_crypto') %}
{% set modal_hidden_field = 'crypto_id' %}

<!-- Incluindo o Modal com as variáveis definidas -->
{% include 'operacoes/modal_confirm_delete.html' %}

{% endblock %}