{# Este arquivo HTML é um template que estende 'index.html' e exibe uma lista de carteiras cadastradas. #}
{% extends 'index.html' %}

{% block body %}
<div class="container">
  <div class="mt-4 mb-4 d-flex justify-content-between align-items-center">
    <h4>Carteiras Cadastradas</h4>
    <a href="{{ url_for('crypto_wallet.add_wallet') }}" class="btn btn-secondary">Adicionar Carteira</a>
  </div>

  <table class="table small-font">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Rede</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      {% for wallet in wallets %}
      <tr>
        <td>{{ wallet.wallet_name|e }}</td>
        <td>{{ wallet.wallet_network|e }}</td>
        <td>
          <button 
            type="button" 
            class="btn btn-danger btn-sm" 
            data-bs-toggle="modal" 
            data-bs-target="#confirmDeleteModal" 
            data_id="{{ wallet.wallet_id }}">
            Excluir/Inativar
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include 'pagination.html' %}  
  
</div>

{% set modal_form_action = url_for('crypto_wallet.delete_wallet') %}
{% set modal_hidden_field = 'wallet_id' %}
{% include 'operacoes/modal_confirm_delete.html' %}
{% endblock %}

