<!-- Este é um arquivo HTML que representa uma página de login. Ele inclui um formulário para o usuário inserir seu e-mail e senha, além de opções para lembrar a sessão e links para recuperação de senha e criação de conta. A página também exibe mensagens de erro, se houver, e utiliza o Bootstrap para estilos e formatação. -->
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cryptos</title>
    {% block styles %} {{ bootstrap.load_css() }} {% endblock %} {% block head
    %} {% endblock %}
  </head>
  <body>
    <div class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category or 'info' }} mt-3" role="alert">
              {{ message | safe }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>

    <div class="container mt-5">
      <div class="card px-4 mx-auto" style="max-width: 500px">
        <h1 class="mt-4 text-center">LOGIN</h1>
        <div class="container">
          <form method="POST" action="{{ url_for('auth.login') }}">
            {{ formLogin.hidden_tag() }}
            <!-- CSRF protection -->

            <div class="form-group mb-3">
              {{ formLogin.email.label(class="form-label") }} {{
              formLogin.email(class="form-control", autocomplete="email") }} {%
              for error in formLogin.password.errors %}
              <div class="text-danger">{{ error }}</div>
              {% endfor %}
            </div>

            <div class="form-group mb-3">
              {{ formLogin.password.label(class="form-label") }} {{
              formLogin.password(class="form-control") }} {% for error in
              formLogin.password.errors %}
              <div class="text-danger">{{ error }}</div>
              {% endfor %}
            </div>

            <div class="form-check mb-3">
              {{ formLogin.remember_me(class="form-check-input") }} {{
              formLogin.remember_me.label(class="form-check-label") }}
            </div>

            <div class="form-group mt-4">
              {{ formLogin.btn_user_enter(class="btn btn-primary w-100") }}
            </div>
            <!--Criar a funcionalidade de esqueci a senha-->
            <div class="form-group text-center mt-3">
              <a
                href="{{ url_for('auth.forgot_password') }}"
                class="text-decoration-none btn btn-link text-secondary"
              >
              </a>
            </div>

            <div class="form-group text-center mt-3">
              <a
                href="{{ url_for('auth.create_account') }}"
                class="text-decoration-none btn btn-link text-secondary fw-bold mb-5"
              >
                {{ formLogin.btn_user_create.label.text }}
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% block scripts %} {{ bootstrap.load_js() }} {% endblock %}
  </body>
</html>
